<div id="program_form">
  <div class="panel">
    <%= form_for([:moderator, @program], html: {class: 'mv-lg form-horizontal'}) do |f| %>
        <div class="form-group-lg clearfix">
          <label class="col-sm-3 control-label">Titre général des offres<%= help_button %></label>
          <%= help_content("Contenu de l'aide pour le titre des offres") %>
          <div class="col-sm-9"><%= f.text_field :title, class: 'form-control' %></div>
        </div>
        <div class="clear pt-lg ph-lg text-right">
          <%= link_to 'Retour', moderator_dashboard_path, class: 'btn btn-lg btn-danger' %>
          <%= f.submit "Mettre à jour le titre", class: 'btn btn-lg btn-primary' %>
        </div>
    <% end %>
  </div>

  <div class="pt-lg pb">
    <div class="panel panel-primary mb-sm">
      <div class="panel-heading">
        <h4 class="text-uppercase m0">Les offres</h4>
      </div>
    </div>

    <% unless @program.visible_items.any? %>
        <p>Aucune offre saisie pour cette programmation.</p>
    <% end %>
  </div>

  <div id="program_items" class="row">
    <% @program.visible_items.each_with_index do |item, i| %>
        <%= render 'shared/forms/program_item', item_controller: 'moderator/program_items', item: item, i: i %>
    <% end %>
  </div>
</div>
