<h3>ApidaeJEP - Toutes les programmations</h3>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-info">
      <div class="table-responsive panel-body">
        <table id="programs" class="table table-striped table-bordered table-hover">
          <thead class="bg-gray-darker">
          <tr>
            <th>Titre</th>
            <th>Mise à jour</th>
            <th>Offres</th>
            <th>Organisateurs</th>
            <th>Structure</th>
            <th class="wd-xxs"></th>
          </tr>
          </thead>
          <tbody>
          <% if @programs.any? %>
              <% @programs.each do |program| %>
                  <tr>
                    <td><%= program.label(program.id) %></td>
                    <td><span class="hidden"><%= program.updated_at.to_i %></span><%= l(program.updated_at, format: :withtime) %></td>
                    <td class="text-left"><%= render_items(program.visible_items) %></td>
                    <td><%= program.users.collect {|u| "#{u.full_name} - <em>#{u.email}</em>"}.join('<br/>').html_safe %></td>
                    <td><%= program.structure %><br/></td>
                    <td class="text-center wd-xxs">
                      <%= link_to '<i class="icon-note"></i>'.html_safe, edit_moderator_program_path(program),
                                  class: 'btn btn-outline btn-sm btn-primary' %>
                    </td>
                  </tr>
              <% end %>
          <% else %>
              <tr>
                <td colspan="5" class="text-center">
                  Aucune programmation pour le moment.
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% content_for :body_area do %>
    <script>
        initDataTable('#programs');
    </script>
<% end %>