<div id="user_login" class="row">
  <div class="mt col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 p0">
    <div class="panel panel-dark panel-flat pb-lg">
      <div class="panel-heading text-center">
        <h4>Bienvenue sur ApidaeJEP</h4>
      </div>
      <div class="panel-body">
        <% if current_moderator %>
            <p class="alert alert-warning">
              <em class="icon-exclamation pr-sm"></em>Vous semblez être authentifié(e) avec un compte modérateur ApidaeJEP.
              Veuillez vous déconnecter de ce compte avant de vous
              authentifier en tant qu'organisateur.
            </p>
            <div class="text-center">
              <%= link_to 'Déconnexion', destroy_moderator_session_path, method: :delete,
                          class: 'btn btn-outline btn-primary' %>
            </div>
        <% else %>
        <p class="text-center">
          L’interface de saisie des évènements des <strong>Journées européennes du patrimoine (JEP) <%= EDITION %></strong>,
          pour :
        </p>
        <div id="intro_territories" class="row">
          <p class="col-sm-6 mb-lg text-center">
            la Métropole de Lyon<br/>
            <img src="<%= image_path('logo-grand-lyon.png') %>" alt="logo grand lyon"/>
          </p>
          <p class="col-sm-6 mb-lg text-center">
            le Département de l’Isère<br/>
            <img src="<%= image_path('logo-isere.jpg') %>" alt="logo departement isere"/>
          </p>
        </div>
        <p class="alert alert-info">
          <em class="icon-info pr-sm"></em><strong>Important</strong> : seule la saisie sur cet outil vous assurera
          d’être présent dans les programmes JEP édités par la Métropole de Lyon et le Département de l’Isère.
        </p>
        <p class="text-center">
          Veuillez vous identifier pour saisir vos évènements.<br/>
          <em>Pour ceux qui ont créé un compte lors des éditions précédentes, vous pouvez utiliser vos identifiants / mots de passe déjà créés.</em>
        </p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'mb-lg'}) do |f| %>
          <div class="form-group has-feedback">
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Adresse email' %>
            <span class="fa fa-envelope form-control-feedback text-muted"></span>
          </div>
          <div class="form-group has-feedback">
            <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: 'Mot de passe' %>
            <span class="fa fa-lock form-control-feedback text-muted"></span>
          </div>
          <div class="clearfix">
            <% if devise_mapping.rememberable? -%>
                <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                    <%= f.check_box :remember_me %>
                    <span class="fa fa-check"></span>Se souvenir de moi</label>
                  </label>
                </div>
            <% end -%>
            <div class="pull-right"><%= link_to 'Mot de passe oublié ?', new_password_path(resource_name) %></div>
          </div>
          <%= f.submit 'Connexion', class: 'btn btn-block btn-primary mt-lg text-uppercase' %>
        <% end %>
        <p class="pt text-center mb-sm">Vous avez un compte Apidae ?</p>
        <%= link_to 'Se connecter avec Apidae', '/oauth/auth/apidae', class: 'btn btn-block btn-danger text-uppercase' %>

        <p class="pt mt-lg text-center mb-sm">Vous n'avez pas de compte ?</p>
        <%= link_to 'Créer un compte', new_registration_path(resource_name), class: 'btn btn-block btn-inverse text-uppercase' %>
        <% end %>
      </div>
    </div>

    <div class="row text-center mv-lg bg-transparent">
      <div class="col-sm-6">
        <em class="icon-plus pr-sm text-primary"></em><%= link_to 'En savoir plus', partners_path %>
      </div>
      <div class="col-sm-6">
        <em class="icon-info pr-sm text-primary"></em><%= link_to "Les informations à connaître\nen tant qu'organisateur", about_path %>
      </div>
    </div>


    <p class="text-center mb">Découvrez nos partenaires officiels :</p>
    <div id="partners" class="row text-center mb">
      <div class="col-sm-4 mb">
        <a href="/partenaires#grandlyon"><img src="<%= image_path('logo-grand-lyon.png') %>" alt="logo grand lyon"/></a>
      </div>
      <div class="col-sm-4 mb">
        <a href="/partenaires#grandlyon"><img src="<%= image_path('logo-ot-lyon.png') %>" alt="logo lyon tourisme congres"/></a>
      </div>
      <div class="col-sm-4 mb">
        <a href="/partenaires#apidae"><img src="<%= image_path('logo_apidae.png') %>" alt="logo reseau apidae"/></a>
      </div>
      <div class="col-sm-4 mb">
        <a href="/partenaires#isere"><img src="<%= image_path('logo-isere.jpg') %>" alt="logo departement isere"/></a>
      </div>
      <div class="col-sm-4 mb">
        <a href="/partenaires#isere"><img src="<%= image_path('logo-isere-culture.png') %>" alt="logo culture isere"/></a>
      </div>
      <div class="col-sm-4 mb">
        <a href="/partenaires#isere"><img src="<%= image_path('logo-isere-tourisme.png') %>" alt="logo tourisme isere"/></a>
      </div>
    </div>

  </div>
</div>

