<%= form_for(@user, url: account_form_url,
             html: {id: 'user_account_form', class: 'form-horizontal mb-xl pb-xl'}) do |user_form| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="help-block">Les champs marqués d'un <strong>*</strong> sont obligatoires.</p>
        <fieldset>
          <legend class="text-uppercase text-primary">Informations du compte<%= link_to('<em class="icon icon-arrow-right"></em>Voir les offres du compte'.html_safe,
                                                                                        account_moderator_items_path(user_id: @user.id), class: 'btn btn-sm btn-link') if current_moderator %></legend>
          <div class="form-group mdy">
            <label class="col-sm-2 control-label">Nom</label>
            <div class="col-sm-4">
              <%= user_form.text_field :last_name, class: 'form-control required' %>
            </div>
            <label class="col-sm-2 control-label">Prénom</label>
            <div class="col-sm-4">
              <%= user_form.text_field :first_name, class: 'form-control required' %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group mdy">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
              <%= user_form.text_field :email, class: 'form-control', readonly: 'readonly', disabled: 'disabled' %>
            </div>
            <label class="col-sm-2 control-label">Téléphone</label>
            <div class="col-sm-4">
              <%= user_form.text_field :telephone, class: 'form-control required', placeholder: '0X XX XX XX XX' %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Fonction</label>
            <div class="col-sm-10">
              <%= user_form.text_field :role, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
        <% if current_moderator %>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">Mode d'authentification</label>
                <div class="col-sm-4">
                  <%= text_field_tag 'auth_mode', @user.provider == 'apidae' ? 'Apidae' : 'ApidaeJEP',
                                     class: 'form-control', readonly: 'readonly', disabled: 'disabled' %>
                </div>
                <label class="col-sm-2 control-label">Identifiant Apidae</label>
                <div class="col-sm-4">
                  <%= user_form.text_field :uid, class: 'form-control', readonly: 'readonly', disabled: 'disabled' %>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">Date de création</label>
                <div class="col-sm-4">
                  <%= user_form.datetime_select :created_at, {}, class: 'form-control', readonly: 'readonly', disabled: 'disabled' %>
                </div>
                <label class="col-sm-2 control-label">Dernière connexion</label>
                <div class="col-sm-4">
                  <%= user_form.datetime_select :last_sign_in_at, {}, class: 'form-control', readonly: 'readonly', disabled: 'disabled' %>
                </div>
              </div>
            </fieldset>
        <% end %>
        <fieldset>
          <legend class="text-uppercase text-primary mb-sm">Structure organisatrice<%= link_to('<em class="icon icon-arrow-right"></em>Voir les offres de la structure'.html_safe,
                                                                                               entity_moderator_items_path(entity_id: @user.legal_entity_id), class: 'btn btn-sm btn-link') if current_moderator %></legend>
          <p class="help-block">
            Veuillez indiquer le nom de votre structure dans le champ de recherche ci-dessous. Vous pourrez ensuite
            modifier ses caractéristiques si nécessaire.<br/>
            Ces informations peuvent être affichées sur les supports grand public (site web, programme papier, ...)
          </p>
          <div id="entity_form" class="form-group-lg">
            <select id="search_entity" class="form-control col-sm-6"></select>
            <div id="add_new_entity" class="pt">
              <em class="pr">La structure ne figure pas dans la liste ?</em>
              <%= link_to '<i class="fa fa-plus pr-sm"></i>Ajouter une structure'.html_safe, '#ok',
                          class: 'btn btn-labeled btn-default btn-sm', data: {confirm: 'Remplacer la saisie actuelle ?'} %>
            </div>
          </div>
        </fieldset>
        <fieldset id="entity_form_fields" style="<%= 'display: none;' unless @user.legal_entity_id %>">
          <%= user_form.fields_for :legal_entity do |entity_form| %>
              <div class="form-group mdy">
                <label class="col-sm-2 control-label">Nom de la structure</label>
                <div class="col-sm-10">
                  <%= entity_form.text_field :name, class: 'form-control required',
                                             placeholder: 'Nom de la structure organisatrice' %>
                </div>
              </div>
              <!-- Todo : a tester apres MEP & corriger export excel -->
              <% if current_moderator %>
                <div class="form-group mt-lg">
                  <label class="col-sm-2 control-label">Identifiant Apidae</label>
                  <div class="col-sm-10">
                    <%= entity_form.text_field :external_id, class: 'form-control', placeholder: "Identifiant Apidae" %>
                  </div>
                </div>
              <% end %>
              <div class="form-group mt-lg mdy">
                <label class="col-sm-2 control-label">Adresse</label>
                <div class="col-sm-4">
                  <%= entity_form.text_field :adresse1, class: 'form-control required',
                                             placeholder: 'Adresse complète, hors commune et code postal' %>
                </div>
                <label class="col-sm-2 control-label">Commune</label>
                <div class="col-sm-4">
                  <%= entity_form.select :town_insee_code, [], {}, class: 'form-control select_town required',
                                         'data-placeholder' => 'Nom ou code postal de la commune' %>
                </div>
              </div>
              <div class="form-group mt-lg mdy">
                <label class="col-sm-2 control-label">Téléphone</label>
                <div class="col-sm-4">
                  <%= entity_form.text_field :phone, class: 'form-control required',
                                             placeholder: 'Téléphone fixe ou portable de la structure organisatrice' %>
                </div>
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-4">
                  <%= entity_form.text_field :email, class: 'form-control email required',
                                             placeholder: 'Adresse email de la structure organisatrice' %>
                </div>
              </div>
              <div class="form-group mt-lg">
                <label class="col-sm-2 control-label">Site web</label>
                <div class="col-sm-10">
                  <%= entity_form.text_field :website, class: 'form-control url',
                                             placeholder: 'Adresse du site web de la structure organisatrice' %>
                </div>
              </div>
              <%= entity_form.hidden_field :id %>
              <% if @item_id %>
              <%= hidden_field_tag 'item_id', @item_id %>
              <% end %>
          <% end %>
        </fieldset>
      </div>
      <div class="panel-footer text-right">
        <%= link_to 'Retour', (current_user ? user_dashboard_path : moderator_dashboard_path), class: 'btn btn-inverse' %>
        <%= user_form.submit 'Enregistrer', class: 'btn btn-primary ml' %>
      </div>
    </div>
<% end %>

<% content_for :body_area do %>
    <script>
        function initEntityFields(values) {
            $("#user_legal_entity_attributes_name").val(values.text);
            $("#user_legal_entity_attributes_adresse1").val(values.address);
            select2Elt.val(values.town).trigger('change');
            $("#user_legal_entity_attributes_postal_code").val(values.postal_code);
            $("#user_legal_entity_attributes_phone").val(values.phone);
            $("#user_legal_entity_attributes_email").val(values.email);
            $("#user_legal_entity_attributes_website").val(values.website);
            $("#user_legal_entity_attributes_id").val(values.id);
        }

        function setTownValue(value, label) {
            $("select.select_town").append('<option value="' + value + '">' + label + '</option>');
            select2Elt.val(value).trigger('change');
        }

        var searchBox = $("#search_entity").select2({
            placeholder: 'Saisissez le nom de la structure',
            minimumInputLength: 2,
            language: {
                inputTooShort: function () { return "Veuillez saisir au moins 2 caractères."; },
                errorLoading: function () { return "Une erreur est survenue."; },
                noResults: function () { return "Aucun résultat pour cette recherche."; },
                searching: function () { return "Recherche en cours..."; }
            },
            ajax: {
                url: "<%= search_entity_user_account_path %>",
                delay: 500,
                data: function (params) {
                    var query = {
                        pattern: params.term,
                        page: params.page
                    };
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data.results
                    };
                }
            }
        });
        searchBox.on('select2:select', function (evt) {
            initEntityFields(evt.params.data);
            setTownValue(evt.params.data.town_insee_code, evt.params.data.town_label);
            $("#entity_form_fields").show();
        });

        $("#add_new_entity").click(function() {
            initEntityFields({});
            $('#search_entity').val(null).trigger('change');
            $("#entity_form_fields").show();
        });

        var select2Elt = $("select.select_town").select2({
            language: "fr",
            minimumInputLength: 2,
            ajax: {
                url: "<%= towns_user_account_path %>",
                delay: 500,
                data: function (params) {
                    var query = {
                        pattern: encodeURIComponent(params.term),
                        page: params.page
                    };
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data.towns
                    };
                }
            }
        });
        <% if @user.legal_entity && @user.legal_entity.town %>
        setTownValue('<%= @user.legal_entity.town_insee_code %>', '<%= @user.legal_entity.town.label %>');
        <% end %>

        $.extend($.validator.messages, {
            required: "champ requis",
            email: "adresse email invalide",
            url: "adresse web invalide"
        });

        $.validator.addMethod('valid_phone', function(value, element) {
            var phoneRegexp = /^\d{10}$/;
            return value && value.replace(/\s/g, '').match(phoneRegexp);
        }, "numéro invalide");

        $("#user_account_form").validate({
            errorPlacement: function errorPlacement(error, element) {
                element.after(error);
            },
            onfocusout: false,
            errorElement: "small",
            invalidHandler: function(form, validator) {
                $.notify("Veuillez corriger les erreurs présentes dans le formulaire", "danger");
            },
            rules: {
                'user[telephone]': {valid_phone: true},
                'user[legal_entity_attributes][phone]': {valid_phone: true}
            }
        });
    </script>
<% end %>