<fieldset class="nested-fields">
  <div class="form-group">
    <% if f.object && f.object.picture && f.object.picture.exists? %>
        <a class="col-sm-2 text-left" target="_blank" href="<%= f.object.picture.url(:original) %>"><%= image_tag f.object.picture.url(:small) %></a>
        <%= f.hidden_field :picture_file_name %>
        <%= f.hidden_field :picture_content_type %>
        <%= f.hidden_field :picture_file_size %>
    <% elsif !readonly %>
        <div class="col-sm-5"><%= f.file_field :picture, class: 'form-control' %></div>
    <% end %>
    <label class="control-label col-sm-2">Crédits *</label>
    <div class="col-sm-3"><%= f.text_field :credits, class: 'form-control required', disabled: readonly, placeholder: "Droits d'utilisation" %></div>
    <% unless readonly %>
    <div class="col-sm-2 text-right"><%= link_to_remove_association 'Supprimer'.html_safe, f, class: 'btn btn-danger' %></div>
    <% end %>
  </div>
</fieldset>
