<fieldset class="nested-fields">
  <div class="form-group">
    <% if f.object && f.object.picture.exists? %>
        <div class="col-sm-2 text-left"><%= image_tag f.object.picture %></div>
        <div class="col-sm-3"><%= f.file_field :picture, class: 'form-control', placeholder: "Modifier l'image" %></div>
    <% else %>
        <div class="col-sm-5"><%= f.file_field :picture, class: 'form-control' %></div>
    <% end %>
    <label class="control-label col-sm-2">Crédits *</label>
    <div class="col-sm-3"><%= f.text_field :credits, class: 'form-control', placeholder: "Droits d'utilisation" %></div>
    <div class="col-sm-2 text-right"><%= link_to_remove_association 'Supprimer'.html_safe, f, class: 'btn btn-danger' %></div>
  </div>
</fieldset>
