<div class="content-heading">
  Questionnaire bilan - Journées Européennes du Patrimoine <%= EDITION %>
  <small><%= "#{@user.full_name} - " if current_moderator %><%= "Transmis le #{l(@poll.created_at)}" if @poll.persisted? %></small>
</div>
<div id="event_poll_wrapper">
  <%= form_for(@poll, url: user_user_event_polls_path(@user.id), html: {id: 'event_poll_form', class: 'form-horizontal mb-xl pb-xl'}) do |f| %>
      <div class="panel panel-default panel-flat">
        <div class="panel-body">
            <legend class="text-uppercase text-primary text-md">Bilan quantitatif</legend>
            <p>
              Le formulaire ci-dessous vous permet de renseigner le nombre d'entrées enregistrées pendant les Journées
              Européennes du Patrimoine <%= EDITION %> pour chacune des offres saisies dans l'outil ApidaeJEP (donnez une estimation si vous n’avez pas de chiffre précis). Vous pouvez également
              nous faire part de commentaires spécifiques concernant une ou plusieurs de vos offres.<br/>
            </p>

            <% if @user.active_items(EDITION).where(status: ProgramItem::STATUS_VALIDATED).any? %>
                <% @user.active_items(EDITION).where(status: ProgramItem::STATUS_VALIDATED).each_with_index do |offer, i| %>
                  <legend class="text-uppercase"><i class="fa <%= item_icon(offer.item_type) %> pr-sm"></i><%= offer.title %></legend>
                  <div class="row">
                    <div class="col-sm-2 text-right form_entry text-primary">
                      Nombre d'entrées enregistrées pendant les JEP <%= EDITION %>
                    </div>
                    <div class="col-sm-7 pl0">
                      <fieldset>
                        <div class="form-group mt-lg">
                          <div class="col-sm-3 text-right mt-sm">Samedi 16/09/2023</div>
                          <div class="col-sm-2 pl0">
                            <%= text_field_tag "event_poll[offers_feedback][#{offer.id}][count][2023-09-16]", @poll.offer_count('2023-09-16', offer.id),
                                               class: 'form-control item_count digits required', placeholder: "Nb d'entrées", disabled: @disabled %>
                          </div>
                          <div class="col-sm-1 mt-sm text-center p0">ou</div>
                          <div class="col-sm-3 pl0">
                            <label class="checkbox-inline c-checkbox ml0 mr-lg">
                              <%= check_box_tag "event_poll[offers_feedback][#{offer.id}][unknown][2023-09-16]", '1',
                                                @poll.unknown('2023-09-16', offer.id), class: 'item_unknown', disabled: @disabled %>
                              <span class="fa fa-check"></span>non renseigné
                            </label>
                          </div>
                          <div class="col-sm-1 mt-sm text-center p0">ou</div>
                          <div class="col-sm-2 pl0">
                            <label class="checkbox-inline c-checkbox ml0 mr-lg">
                              <%= check_box_tag "event_poll[offers_feedback][#{offer.id}][closed][2023-09-16]", '1',
                                                @poll.closed('2023-09-16', offer.id), class: 'item_closed', disabled: @disabled %>
                              <span class="fa fa-check"></span>fermé(e)
                            </label>
                          </div>
                        </div>
                        <div class="form-group mt">
                          <div class="col-sm-3 text-right mt-sm">Dimanche 17/09/2023</div>
                          <div class="col-sm-2 pl0">
                            <%= text_field_tag "event_poll[offers_feedback][#{offer.id}][count][2023-09-17]", @poll.offer_count('2023-09-17', offer.id),
                                               class: 'form-control item_count digits required', placeholder: "Nb d'entrées", disabled: @disabled %>
                          </div>
                          <div class="col-sm-1 mt-sm text-center p0">ou</div>
                          <div class="col-sm-3 pl0">
                            <label class="checkbox-inline c-checkbox ml0 mr-lg">
                              <%= check_box_tag "event_poll[offers_feedback][#{offer.id}][unknown][2023-09-17]", '1',
                                                @poll.unknown('2023-09-17', offer.id), class: 'item_unknown', disabled: @disabled %>
                              <span class="fa fa-check"></span>non renseigné
                            </label>
                          </div>
                          <div class="col-sm-1 mt-sm text-center">ou</div>
                          <div class="col-sm-2 pl0">
                            <label class="checkbox-inline c-checkbox ml0 mr-lg">
                              <%= check_box_tag "event_poll[offers_feedback][#{offer.id}][closed][2023-09-17]", '1',
                                                @poll.closed('2023-09-17', offer.id), class: 'item_closed', disabled: @disabled %>
                              <span class="fa fa-check"></span>fermé(e)
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <div class="col-sm-3 pt-lg pl0">
                      <%= text_area_tag "event_poll[offers_feedback][#{offer.id}][comments]", @poll.comments(offer.id), class: 'form-control',
                                        placeholder: "Commentaires", rows: 4, disabled: @disabled %>
                    </div>
                  </div>
                <% end %>
              <% end %>

          <fieldset>
            <legend class="text-uppercase text-primary text-md">Bilan qualitatif</legend>
            <div class="form-group mdy">
              <label class="col-sm-12">
                Avez-vous des observations particulières concernant l’organisation de ces Journées (inscription, coordination, déroulement...) ?
              </label>
              <div class="col-sm-12">
                <%= f.text_area :general_comments, class: 'form-control required', rows: 3,
                                placeholder: "Commentaires et observations sur l'organisation", disabled: @disabled %>
              </div>
            </div>
            <div class="form-group mt-xl mdy">
              <label class="col-sm-12">
                Avez-vous des observations particulières concernant la communication autour de ces Journées (visuel, flyers, affiches, site internet...) ?
              </label>
              <div class="col-sm-12">
                <%= f.text_area :com_comments, class: 'form-control required', rows: 3,
                                placeholder: "Commentaires et observations sur la communication", disabled: @disabled %>
              </div>
            </div>
            <div class="form-group mt-xl mdy">
              <label class="col-sm-12">
                Avez-vous des observations particulières concernant la thématique de ces Journées (« Lumière ») ?
              </label>
              <div class="col-sm-12">
                <%= f.text_area :theme_comments, class: 'form-control required', rows: 3,
                                placeholder: "Commentaires et observations sur la thématique", disabled: @disabled %>
              </div>
            </div>
          </fieldset>
        </div>
        <%= f.hidden_field :user_id %>
        <div class="panel-footer text-right">
          <%= link_to 'Retour', (current_user ? user_dashboard_path : moderator_dashboard_path), class: 'btn btn-inverse' %>
          <%= f.submit('Enregistrer', class: 'btn btn-primary ml') if @disabled.blank? %>
        </div>
      </div>
  <% end %>
</div>

<% content_for :body_area do %>
    <script>
        function togglePollFields(wrapper, isChecked) {
            var field = wrapper.find("input.item_count");
            if(isChecked) {
                field.val('');
                field.attr('disabled', 'disabled');
            } else {
                field.attr('disabled', null);
            }
        }

        $("input.item_closed").change(function() {
            var group = $(this).parents(".form-group");
            togglePollFields(group, $(this).is(':checked'));
        });

        $("input.item_unknown").change(function() {
            var group = $(this).parents(".form-group");
            togglePollFields(group, $(this).is(':checked'));
        });

        $.extend($.validator.messages, {
            required: "requis",
            digits: "nombre"
        });

        $("#event_poll_form").validate({
            errorPlacement: function errorPlacement(error, element) {
                element.after(error);
            },
            onfocusout: false,
            errorElement: "small",
            ignore: ":disabled",
            invalidHandler: function(form, validator) {
                $.notify("Veuillez corriger les erreurs présentes dans le formulaire", "danger");
            }
        });

    </script>
<% end %>
