<%= form_for([form_scope, @program, @item], html: {multipart: true, id: 'program_item_form', class: 'form-horizontal'}) do |item_form| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="help-block">Les champs marqués d'un <strong>*</strong> sont obligatoires.</p>
        <% if current_moderator %>
          <p class="text-warning">Lorsqu'un champ a été modifié par rapport à la saisie précédente, sa valeur avant modification est indiquée sous le champ concerné.</p>
        <% end %>
        <fieldset>
          <legend class="text-uppercase text-primary">Informations générales</legend>
          <div class="form-group mdy">
            <label class="col-sm-2 control-label">Type de l'offre<%= help_button %></label>
            <%= help_content("Sélectionnez le type d'offre.\n Si votre offre comporte à la fois une animation ou une " +
                                 "exposition ET la visite du lieu (libre ou guidée), saisissez autant d'offres que de types.\n" +
                                 "NB : Le descriptif du lieu remarquable n'est possible que sur le type \"Visite d'un lieu\".") %>
            <div class="col-sm-10">
              <div id="item_types" data-toggle="buttons" class="btn-group w100">
                <% (readonly ? [@item.item_type] : ITEM_TYPES).each do |t| %>
                <label class="btn btn-default btn-labeled text-left w25 <%= 'active' if @item.item_type == t && !readonly %>">
                  <i class="fa text-lg <%= item_icon(t) %> btn-label pv-xl vat"></i>
                  <%= item_form.radio_button :item_type, t, disabled: readonly %>
                  <div class="inline pt">
                    <strong><%= t "program_item.type.#{t}" %></strong>
                    <p class="text-xs pre m0"><%= t "program_item.type.desc.#{t}" %></p>
                  </div>
                </label>
                <% end %>
              </div>
              <%= render_previous(:item_type) %>
            </div>
          </div>
          <div class="form-group mt-lg mdy">
            <label class="col-sm-2 control-label">Titre de l'offre</label>
            <%= help_content("Texte d'aide pour le champ titre de l'offre") %>
            <div class="col-sm-10">
              <%= item_form.text_field :title, class: 'form-control required', placeholder: "Titre de l'offre", disabled: readonly %>
              <%= render_previous(:title) %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend class="text-uppercase text-primary mb-sm">Lieu / emplacement</legend>
          <p class="help-block">
            Saisissez les premières lettres de votre lieu ou adresse. Les réponses que nous connsaissons vous sont
            suggérées : la proposition la plus cohérente arrive en 1ère proposition. Vous pouvez déplacer le marqueur
            sur la carte afin de préciser la localisation de l'offre.
          </p>
          <div class="row">
            <div class="col-sm-6">
              <div id="item_map"></div>
            </div>
            <div class="col-sm-6">
              <div id="map_fields" style="<%= 'display: none;' if @item.new_item? %>">
                <div class="form-group mdy">
                  <label class="col-sm-4 control-label ph0">Nom du lieu</label>
                  <div class="col-sm-8">
                    <%= item_form.text_field :main_place, class: 'form-control required', disabled: readonly %>
                    <%= render_previous(:main_place) %>
                  </div>
                </div>
                <div class="form-group mt-lg mdy">
                  <label class="col-sm-4 control-label ph0">Adresse</label>
                  <div class="col-sm-8">
                    <%= item_form.text_field :main_address, class: 'form-control required', disabled: readonly %>
                    <%= render_previous(:main_address) %>
                  </div>
                </div>
                <div class="form-group mt-lg mdy">
                  <label class="col-sm-4 control-label ph0">Commune</label>
                  <div class="col-sm-8">
                    <%= item_form.select :main_town_insee_code, [], {}, class: 'form-control select_town required', disabled: readonly,
                                           'data-placeholder' => 'Nom ou code postal de la commune' %>
                    <%= render_previous(:main_town_insee_code) %>
                  </div>
                </div>
                <%= item_form.hidden_field :main_lat %>
                <%= item_form.hidden_field :main_lng %>
                <div class="form-group mt">
                  <label class="col-sm-4 control-label ph0">Point de rendez-vous</label>
                  <div class="col-sm-8">
                    <%= item_form.text_field :alt_place, class: 'form-control', placeholder: 'Si différent du lieu', disabled: readonly %>
                    <%= render_previous(:alt_place) %>
                  </div>
                </div>
                <div class="form-group mt-lg mdy">
                  <label class="col-sm-4 control-label ph0">Accès en transports en commun (ligne, arrêt) et indications d'accès<%= help_button %></label>
                  <%= help_content("Indiquer les accès en transport en commun (n° bus, ...) et/ou les indications d'accès : parking le plus proche, ...") %>
                  <div class="col-sm-8">
                    <%= item_form.text_area :main_transports, class: 'form-control required', disabled: readonly, rows: 4 %>
                    <%= render_previous(:main_transports, 4) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset id="building_fields">
          <div class="form-group">
            <label class="col-sm-2 control-label">Nature du lieu <%= help_button %></label>
            <%= help_content("Plusieurs choix possibles.") %>
            <div class="col-sm-4 p0">
              <%= item_form.select :building_types, building_types, {}, multiple: 'multiple',
                                   class: 'form-control chosen-select no-max', disabled: readonly,
                                   'data-placeholder' => "Plusieurs choix possibles" %>
              <%= render_previous(:building_types, 2) %>
            </div>
            <label class="col-sm-2 control-label">Epoque<%= help_button %></label>
            <%= help_content("Plusieurs choix possibles.") %>
            <div class="col-sm-4 pl0">
              <%= item_form.select :building_ages, building_ages, {}, multiple: 'multiple',
                                   class: 'form-control chosen-select no-max', disabled: readonly,
                                   'data-placeholder' => "Plusieurs choix possibles" %>
              <%= render_previous(:building_ages, 2) %>
            </div>
          </div>
          <div class="form-group mt-lg">
            <label class="col-sm-2 control-label">Description du lieu</label>
            <div class="col-sm-10 pl0">
              <%= item_form.text_area :place_desc, class: 'form-control', disabled: readonly, rows: 3 %>
              <%= render_previous(:place_desc, 3) %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend class="text-uppercase text-primary">Détails / description</legend>
          <div class="form-group mt">
            <label class="col-sm-3 control-label">Caractéristiques<%= help_button %></label>
            <%= help_content("Plusieurs choix possibles.") %>
            <div id="item_caracs" class="col-sm-9">
              <%= select_tag 'program_item[criteria][]', criteria(@item.item_type, @item.criteria), multiple: 'multiple',
                             class: 'form-control chosen-select no-max', disabled: readonly, 'data-placeholder' => "Plusieurs choix possibles" %>
              <%= render_previous(:criteria) %>
            </div>
          </div>
          <div class="form-group mt-lg">
            <label class="col-sm-3 control-label">Thèmes <%= help_button %></label>
            <%= help_content("Plusieurs choix possibles. Champ non obligatoire") %>
            <div class="col-sm-9">
              <%= item_form.select :themes, themes, {}, multiple: 'multiple',
                                   class: 'form-control chosen-select no-max', disabled: readonly,
                                   'data-placeholder' => "Plusieurs choix possibles" %>
              <%= render_previous(:themes) %>
            </div>
          </div>
          <div class="form-group mt-lg mdy">
            <label class="col-sm-3 control-label">Description<%= help_button %></label>
            <%= help_content("Veuillez vous limiter à 255 caractères") %>
            <div class="col-sm-9">
              <%= item_form.text_area :description, class: 'form-control required', disabled: readonly, rows: 3 %>
              <%= render_previous(:description, 3) %>
            </div>
          </div>
          <div class="form-group mt-lg mdy">
            <label class="col-sm-3 control-label mdy">Accessibilité<%= help_button %></label>
            <%= help_content("Si non accessible aux personnes en situation de handicap moteur, merci de cocher la case correspondante") %>
            <div class="col-sm-9">
              <% accessibility.each_pair do |ref, label| %>
                  <label class="checkbox-inline c-checkbox ml0 mr-lg">
                    <%= check_box_tag 'program_item[accessibility][]', ref,
                                      (@item.accessibility && @item.accessibility.include?(ref)), disabled: readonly %>
                    <span class="fa fa-check"></span><%= label %>
                  </label>
              <% end %>
              <%= render_previous(:accessibility) %>
            </div>
          </div>
          <div class="form-group mt-lg">
            <label class="col-sm-3 control-label">Organisateurs associés<%= help_button %></label>
            <%= help_content("Si vous avez d'autres structures organisatrices de l'offre, merci de les saisir ici. " +
                                 "Il est inutile d'indiquer votre structure.") %>
            <div class="col-sm-9">
              <%= item_form.text_field :event_planners, class: 'form-control', disabled: readonly %>
              <%= render_previous(:event_planners) %>
            </div>
          </div>
        </fieldset>
        <fieldset class="item_openings">
          <legend class="text-uppercase text-primary mb0 openings">Horaires / ouverture*</legend>
          <p class="help-block">
            Merci de saisir une date et un horaire de début. Les autres informations sont facultatives (horaire de fin ; fréquence ; durée).<br/>
            Vous pouvez modifier, supprimer ou dupliquer un horaire enregistré (par exemple pour afficher le dimanche le même horaire que le samedi).
          </p>
          <%= item_form.fields_for :item_openings do |opening| %>
              <%= render 'shared/forms/item_opening_fields', f: opening, readonly: readonly %>
          <% end %>
          <% unless readonly %>
          <div class="links">
            <%= link_to_add_association('Ajouter une ouverture', item_form, :item_openings, class: 'btn btn-primary mt',
                                        render_options: {locals: {readonly: readonly}},
                                        partial: 'shared/forms/item_opening_fields') %>
          </div>
          <% end %>
          <%= render_previous_assoc(@prev_item.item_openings, @item.item_openings, :as_text, 2) if @prev_item %>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">Informations complémentaires</label>
            <div class="col-sm-9">
              <%= item_form.text_area :openings_desc, class: 'form-control', disabled: readonly,
                                      placeholder: 'Informations complémentaires sur les horaires et ouvertures' %>
              <%= render_previous(:openings_desc, 2) %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend class="text-uppercase text-primary">Tarifs / réservations</legend>
          <div id="free_toggle" class="form-group mdy">
            <div class="col-sm-12">
              <label class="radio-inline c-radio mh">
                <%= item_form.radio_button :free, true, disabled: readonly %>
                <span class="fa fa-circle"></span>Accès gratuit</label>
              <label class="radio-inline c-radio mh">
                <%= item_form.radio_button :free, false, disabled: readonly %>
                <span class="fa fa-circle"></span>Accès payant</label>
              <%= render_previous(:free) %>
            </div>
          </div>
          <div class="form-group mt free_toggle">
            <div class="col-sm-12">
              <%= item_form.text_area :rates_desc, class: 'form-control', disabled: readonly, rows: 3,
                                      placeholder: 'Informations sur les tarifs' %>
              <%= render_previous(:rates_desc, 3) %>
            </div>
          </div>
          <div id="booking_toggle" class="form-group mt-xl">
            <div class="col-sm-12">
              <label class="radio-inline c-radio mh">
                <%= item_form.radio_button :booking, false, disabled: readonly %>
                <span class="fa fa-circle"></span>Pas de réservation</label>
              <label class="radio-inline c-radio mh">
                <%= item_form.radio_button :booking, true, disabled: readonly %>
                <span class="fa fa-circle"></span>Réservation</label>
              <%= render_previous(:booking) %>
            </div>
          </div>
          <div class="form-group mt booking_toggle">
            <div class="col-sm-12">
              <%= item_form.text_area :booking_details, class: 'form-control', disabled: readonly, rows: 3,
                                      placeholder: 'Informations sur la réservation' %>
              <%= render_previous(:booking_details, 3) %>
            </div>
          </div>
          <div class="form-group mt-lg booking_toggle">
            <label class="col-sm-3 control-label">Téléphone (réservations)</label>
            <div class="col-sm-9">
              <%= item_form.text_field :booking_telephone, class: 'form-control', disabled: readonly %>
              <%= render_previous(:booking_telephone) %>
            </div>
          </div>
          <div class="form-group mt-lg booking_toggle">
            <label class="col-sm-3 control-label">Email (réservations)</label>
            <div class="col-sm-9">
              <%= item_form.text_field :booking_email, class: 'form-control email', disabled: readonly %>
              <%= render_previous(:booking_email) %>
            </div>
          </div>
          <div class="form-group mt-lg booking_toggle">
            <label class="col-sm-3 control-label">Site web (réservations)</label>
            <div class="col-sm-9">
              <%= item_form.text_field :booking_website, class: 'form-control url', disabled: readonly, placeholder: 'http://' %>
              <%= render_previous(:booking_website) %>
            </div>
          </div>
        </fieldset>
        <fieldset class="item_photos">
          <legend class="text-uppercase text-primary mb-sm">Photos</legend>
          <p class="help-block">
            <strong>Attention</strong> : les images doivent être libres de droits.
            Pensez à bien renseigner les crédits (copyright).<br/>
            Veuillez n'utiliser que des photos ayant une résolution suffisante (1600 pixels minimum sur le grand côté).
          </p>
          <%= item_form.fields_for :attached_files do |file_form| %>
              <%= render 'shared/forms/attached_file_fields', f: file_form, readonly: readonly %>
          <% end %>
          <% unless readonly %>
          <div class="links">
            <%= link_to_add_association('Ajouter une photo', item_form, :attached_files, class: 'btn btn-primary',
                                        render_options: {locals: {readonly: readonly}},
                                        partial: 'shared/forms/attached_file_fields') %>
          </div>
          <% end %>
          <%= render_previous_assoc(@prev_item.attached_files, @item.attached_files, :picture_url) if @prev_item %>
          <div id="accept_pictures" class="form-group mt-lg mdy">
            <div class="col-sm-12">
              <label class="checkbox-inline c-checkbox">
                <%= check_box_tag 'program_item[accept_pictures]', '1', @item.accept_pictures == '1', disabled: (current_user && !readonly) ? nil : 'disabled' %>
                <span class="fa fa-check"></span>J'accepte que les photos soient utilisées dans les supports de communication
                des Journées Européennes du Patrimoine 2017 au format papier et web*
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend class="text-uppercase text-primary">Informations et renseignements</legend>
          <div class="form-group">
            <label class="col-sm-3 control-label">Téléphone</label>
            <div class="col-sm-9">
              <%= item_form.text_field :telephone, class: 'form-control', disabled: readonly %>
              <%= render_previous(:telephone) %>
            </div>
          </div>
          <div class="form-group mt-lg">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
              <%= item_form.text_field :email, class: 'form-control email', disabled: readonly %>
              <%= render_previous(:email) %>
            </div>
          </div>
          <div class="form-group mt-lg">
            <label class="col-sm-3 control-label">Site web</label>
            <div class="col-sm-9">
              <%= item_form.text_field :website, class: 'form-control url', disabled: readonly, placeholder: 'http://' %>
              <%= render_previous(:website) %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend class="text-uppercase text-primary">Suivi</legend>
          <% if current_moderator %>
          <div class="row">
          <div class="row">
            <label class="col-sm-3 control-label">Structure organisatrice</label>
            <div class="col-sm-7">
              <%= text_area_tag 'legal_entity_name', entity_label(@item.user.legal_entity), class: 'form-control', disabled: 'disabled' %>
            </div>
            <div class="col-sm-2">
              <%= link_to '<em class="icon-note pr-sm"></em>Modifier'.html_safe, edit_moderator_account_path(@item.user.id, item_id: @item.id),
                          class: 'btn btn-info' %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <% end %>
          <div class="row">
            <div class="col-sm-6">
              <h5><strong>Commentaires facultatifs</strong></h5>
              <div class="form-group mt-sm">
                <div class="col-sm-12">
                  <%= item_form.text_area :comment, class: 'form-control', disabled: readonly, rows: 6,
                                        placeholder: "Ajouter un commentaire concernant la validation de la saisie et le suivi de l'offre" %>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <ul class="timeline-alt">
                <li data-datetime="Etat actuel" class="timeline-separator">
                  &nbsp;<span class="label text-sm label-<%= t "program_item.color.#{@item.status}" %>"><%= t "program_item.status.#{@item.status}" %></span>
                </li>
                <% if @item.history_entries.blank? %>
                    <li class="m0">
                      <div class="timeline-panel">
                        <p class="m0">Aucune information de suivi pour le moment.</p>
                      </div>
                    </li>
                <% end %>
                <% @item.history_entries.each_with_index do |c, i| %>
                    <% if c[:event_type] == ProgramItem::EVENT_NEW_COMMENT %>
                        <li>
                          <div class="timeline-badge info">
                            <em class="fa fa-comment"></em>
                          </div>
                          <div class="timeline-panel">
                            <div class="popover right">
                              <h4 class="popover-title">
                                <%= render_log_entry(c) %>
                              </h4>
                              <div class="arrow"></div>
                              <% unless c[:description].blank? %>
                                  <div class="popover-content">
                                    <p class="pre text-sm"><%= c[:description] %></p>
                                  </div>
                              <% end %>
                            </div>
                          </div>
                        </li>
                    <% elsif c[:event_type] == ProgramItem::EVENT_STATUS_CHANGE %>
                        <li>
                          <div class="timeline-badge dark">
                            <em class="fa fa-info"></em>
                          </div>
                          <div class="timeline-panel">
                            <div class="popover right">
                              <h5 class="popover-title">
                                <%= render_log_entry(c) %>
                                <span class="ml-sm inline mt-sm label label-<%= t "program_item.color.#{c[:event_status]}" %>">
                                  <%= t "program_item.status.#{c[:event_status]}" %>
                                </span>
                              </h5>
                              <div class="arrow"></div>
                              <% unless c[:description].blank? %>
                                  <div class="popover-content">
                                    <p class="pre text-sm mb0"><%= c[:description] %></p>
                                  </div>
                              <% end %>
                            </div>
                          </div>
                        </li>
                    <% end %>
                <% end %>
                <li data-datetime="1ère saisie" class="timeline-separator"></li>
              </ul>
            </div>
          </div>
        </fieldset>
        <%= item_form.hidden_field :program_id %>
        <%= item_form.hidden_field :user_id %>
        <%= item_form.hidden_field :rev %>
        <%= item_form.hidden_field :reference %>
        <%= item_form.hidden_field :place_desc_ref %>
        <%= item_form.hidden_field :status, id: 'program_item_status' %>
        <%= item_form.hidden_field :author, id: 'program_item_author' %>
      </div>
      <div id="submit_actions" class="panel-footer text-right">
        <%= link_to 'Retour', current_user ? edit_user_program_path(@program) : moderator_programs_path(@program), class: 'btn btn-default' %>
        <% if readonly && current_user %>
          <%= link_to "Modifier l'offre",
                      url_for(controller: current_user ? 'user/program_items' : 'moderator/program_items', action: ((@item.pending? || @item.draft?) ? :edit : :new), program_id: @program.id, id: @item.id),
                      class: 'btn btn-primary ml' %>
        <% else %>
          <% if current_moderator %>
                <% if @item.pending? || @item.validated? %>
                  <%= item_form.submit "Valider et publier #{@item.rev == 1 ? "l'offre" : 'la mise à jour'}", class: 'btn btn-success ml',
                                       onclick: "setStatus('#{ProgramItem::STATUS_VALIDATED}')" %>
                <% end %>
                <% if @item.pending? %>
                  <%= item_form.submit "Rejeter #{@item.rev == 1 ? "l'offre" : 'la mise à jour'}", class: 'btn btn-danger ml',
                                       onclick: "setStatus('#{ProgramItem::STATUS_REJECTED}')" %>
                <% end %>
          <% elsif current_user %>
              <%= item_form.submit 'Enregistrer le brouillon', class: 'btn btn-inverse ml',
                                   onclick: "setStatus('#{ProgramItem::STATUS_DRAFT}')" %>
              <%= item_form.submit "Transmettre #{@item.rev == 1 ? "l'offre" : 'la mise à jour'} pour validation", class: 'btn btn-primary ml',
                                   onclick: "setStatus('#{ProgramItem::STATUS_PENDING}')" %>
          <% end %>
        <% end %>
      </div>
    </div>
<% end %>
