<fieldset class="nested-fields opening_pickers">
  <div class="form-group">
    <label class="col-sm-3 control-label">Début</label>
    <div class="col-sm-7">
      <p class="form-control-static"><%= l(f.object.starts_at, format: :full) %></p>
    </div>
    <div class="col-sm-2"><%= f.date_select :starts_at, {}, class: 'form-control' %></div>
  </div>
  <div class="form-group mt">
    <label class="col-sm-3 control-label">Fin</label>
    <div class="col-sm-7">
      <p class="form-control-static"><%= l(f.object.ends_at, format: :full) if f.object.ends_at  %></p>
    </div>
    <div class="col-sm-2"><%= f.date_select :ends_at, {}, class: 'form-control' %></div>
  </div>
  <div class="form-group mt">
    <label class="col-sm-3 control-label">Durée</label>
    <div class="col-sm-3"><%= f.datetime_select :duration, {}, class: 'form-control' %></div>
    <label class="col-sm-3 control-label">Fréquence</label>
    <div class="col-sm-3"><%= f.datetime_select :frequency, {}, class: 'form-control' %></div>
  </div>
  <div class="text-right mt-lg">
    <%= link_to_remove_association 'Supprimer', f, class: 'btn btn-danger' %>
  </div>
</fieldset>