<div class="col-sm-12">
  <div class="panel widget">
    <div class="row row-table row-flush">
      <div class="col-xs-3">
        <picture class="lateral-picture bg-gray-dark">
          <% if item.picture %>
              <div class="bg-center" style="background-image: url(<%= item.picture %>); height: 100%;"></div>
          <% else %>
              <div class="text-center pt-lg">
                <i class="fa fa-5x <%= item_icon(item) %>"></i>
              </div>
           <% end %>
        </picture>
      </div>
      <div class="col-xs-9 ph-xl">
        <div class="item_actions">
          <%= link_to '<em class="icon-note"></em>'.html_safe,
                      url_for(controller: item_controller, action: :edit, program_id: @program.id, id: item.id),
                      class: 'btn btn-primary', title: 'Modifier' %>
          <% if current_user %>
          <%= link_to '<em class="icon-docs"></em>'.html_safe,
                      duplicate_user_program_program_item_path(@program.id, item), method: :post,
                      class: 'btn btn-primary', title: 'Dupliquer' %>
          <% end %>
          <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-default">
              <em class="fa icon-share-alt"></em>
            </button>
            <ul role="menu" class="dropdown-menu">
              <li>
                <%= link_to '<em class="icon-arrow-up-circle pr-sm"></em>Déplacer vers le haut'.html_safe,
                            url_for(controller: item_controller, action: :reorder, program_id: @program.id, id: item.id, direction: 'up'),
                            method: :patch %>
              </li>
              <li>
                <%= link_to '<em class="icon-arrow-down-circle pr-sm"></em>Déplacer vers le bas'.html_safe,
                            url_for(controller: item_controller, action: :reorder, program_id: @program.id, id: item.id, direction: 'down'),
                            method: :patch %>
              </li>
              <li>
                <%= link_to '<em class="icon-share-alt pr-sm"></em>Changer de programmation'.html_safe,
                            url_for(controller: item_controller, action: :select_program, program_id: @program.id, id: item.id),
                            remote: true %>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="mt">
          <%= item.title.blank? ? "Offre #{i}" : item.title %>
        </h3>
        <p class="pre"><%= ellipsis(item.description) %></p>
      </div>
    </div>
  </div>
</div>
