<div class="col-sm-12">
  <div class="panel widget">
    <div class="row row-table row-flush">
      <div class="col-xs-3">
        <picture class="lateral-picture bg-gray-dark">
          <% if item.picture %>
              <div class="bg-center" style="background-image: url(<%= item.picture %>); height: 100%;"></div>
          <% else %>
              <div class="text-center pt-lg">
                <i class="fa fa-5x <%= item_icon(item.item_type) %>"></i>
              </div>
           <% end %>
        </picture>
      </div>
      <div class="col-xs-7 ph-lg">
        <h3 class="mt">
          <%= item.title.blank? ? "Offre #{i}" : item.title %>&nbsp;
          <span class="label text-sm label-default text-gray-dark"><%= t "program_item.type.#{item.item_type}" %></span>
          <span class="label text-sm text-normal label-<%= item_color(item.status) %>"><%= t "program_item.status.#{item.status}" %></span>
        </h3>
        <p class="pre"><%= ellipsis(item.description) unless item.description.blank? %></p>
      </div>
      <div class="col-xs-2 p-lg text-right vat">
        <% if current_user || !item.draft? %>
            <%= link_to '<span class="btn-label"><em class="icon-eye"></em></span>Visualiser'.html_safe,
                        url_for(controller: item_controller, action: :show, id: item.id),
                        class: 'btn btn-labeled btn-default btn-block', title: 'Visualiser' %>
        <% end %>
        <% if current_user %>
            <%= link_to '<span class="btn-label"><em class="icon-note"></em></span>Modifier'.html_safe,
                        url_for(controller: item_controller, action: ((item.pending? || item.draft?) ? :edit : :new), id: item.id),
                        class: 'btn btn-labeled btn-default btn-block', title: 'Modifier' %>
            <%= link_to '<span class="btn-label"><em class="icon-docs"></em></span>Dupliquer'.html_safe,
                        duplicate_user_program_item_path(item), method: :post,
                        class: 'btn btn-labeled btn-default btn-block', title: 'Dupliquer' %>
        <% end %>
        <% if current_moderator %>
            <%= link_to '<span class="btn-label"><em class="icon-note"></em></span>Modifier'.html_safe,
                        url_for(controller: item_controller, action: :edit, id: item.id),
                        class: 'btn btn-labeled btn-default btn-block', title: 'Modifier' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
