<p>
  Bonjour,<br/>
  <br/>
  Nous avons bien validé votre offre pour les JEP <%= EDITION %>.
  <br/>
  Titre offre : <%= @item.title %>
  <br/>
  Veuillez suivre le lien suivant pour consulter l'offre validée sur ApidaeJEP :<br/>
  <%= link_to "Consulter l'offre", user_program_item_url(@item) %><br/>
  <br/>
  Cordialement,<br/>
  <br/>
  <%= @signature[:label] %><br/>
  <%= @signature[:contact] %>
  <br/>
  <em>Cet email est généré automatiquement - Il est inutile d'y répondre</em>
</p>
