<p>
  Bonjour,<br/>
  <br/>
  Nous sommes au regret de vous informer que votre offre pour les JEP 2018 a été rejetée.<br/>
  <br/>
  Titre de l'offre : <%= @item.title %><br/>
  Message de l'équipe de validation :<br/>
  <span style="white-space: pre-line; font-style: italic;"><%= @comment %></span><br/>
  <br/>
  Nous vous invitons à suivre le lien suivant pour consulter l'offre sur ApidaeJEP et la modifier :<br/>
  <%= link_to "Consulter l'offre", user_program_item_url(@item) %><br/>
  <br/>
  Cordialement,<br/>
  <br/>
  <%= @signature[:label] %><br/>
  <%= @signature[:contact] %><br/>
  <br/>
  <em>Cet email est généré automatiquement - Il est inutile d'y répondre</em>
</p>
