<div class="pull-right">
  <%= link_to '<span class="btn-label"><em class="icon icon-paper-plane"></em></span>Notifier les organisateur(s)'.html_safe,
              notify_moderator_event_polls_path, data: {confirm: "Notifier #{@users_without_poll.length} organisateurs ?"},
              method: :patch, class: 'btn btn-labeled btn-green' %>
  <a class="btn btn-labeled btn-primary" href="<%= export_moderator_event_polls_path %>.xlsx">
    <span class="btn-label"><em class="icon icon-cloud-download"></em></span>
    Export Excel
  </a>
</div>
<h3>ApidaeJEP - Questionnaires bilan</h3>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-info">
      <div class="table-responsive panel-body">
        <table id="accounts" class="table table-striped table-bordered table-hover">
          <thead class="bg-gray-darker">
          <tr>
            <th>Nom</th>
            <th>Structure</th>
            <th>Commune</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Statut</th>
          </tr>
          </thead>
          <tbody>
          <% if @users.any? %>
              <% @users.each do |account| %>
                  <tr>
                    <td><%= account.full_name %></td>
                    <td><%= account.legal_entity_id ? account.legal_entity.name : 'Aucune' %></td>
                    <td><%= account.legal_entity.town.label %></td>
                    <td><%= account.email %></td>
                    <td><%= account.telephone %></td>
                    <td class="text-center">
                      <% if account.active_poll %>
                        <%= link_to 'Voir la réponse', moderator_event_poll_path(account.active_poll), class: 'btn btn-info' %>
                      <% else %>
                        <span class="label label-inverse">En attente</span>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
          <% else %>
              <tr>
                <td colspan="5" class="text-center">
                  Aucun compte pour le moment.
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% content_for :body_area do %>
    <script>
        initDataTable('#accounts');
    </script>
<% end %>