<div class="pull-right">
  <a href="<%= moderator_program_items_path(status: @status, year: 2020) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2020 %>">JEP 2020</a>
  <a href="<%= moderator_program_items_path(status: @status, year: 2019) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2018 %>">JEP 2019</a>
  <a href="<%= moderator_program_items_path(status: @status, year: 2018) %>" class="btn btn-info btn-oval mr <%= 'btn-outline' unless @year == 2017 %>">JEP 2018</a>
  <a class="btn btn-labeled btn-primary" href="<%= export_moderator_items_path %>.xlsx?year=<%= @year %>">
    <span class="btn-label"><em class="icon icon-cloud-download"></em></span>
    Export Excel
  </a>
  <%= link_to '<span class="btn-label"><i class="fa fa-plus"></i></span>Saisir une offre'.html_safe, new_user_program_item_path,
              class: 'btn btn-labeled btn-primary' %>
</div>
<h3>
  Offres
</h3>
<div class="row">
  <div class="col-lg-12">
    <div class="btn-group btn-group-justified mb-xl">
      <%= link_to('Brouillons', moderator_program_items_path(status: ProgramItem::STATUS_DRAFT, year: @year),
                  class: "text-md btn btn-lg btn-inverse #{@status == ProgramItem::STATUS_DRAFT ? 'text-bold' : 'text-alpha'}") %>
      <%= link_to('En validation', moderator_program_items_path(status: ProgramItem::STATUS_PENDING, year: @year),
                  class: "text-md btn btn-lg btn-warning #{@status == ProgramItem::STATUS_PENDING ? 'text-bold' : 'text-alpha'}") %>
      <%= link_to('Validées', moderator_program_items_path(status: ProgramItem::STATUS_VALIDATED, year: @year),
                  class: "text-md btn btn-lg btn-success #{@status == ProgramItem::STATUS_VALIDATED ? 'text-bold' : 'text-alpha'}") %>
      <%= link_to('Rejetées', moderator_program_items_path(status: ProgramItem::STATUS_REJECTED, year: @year),
                  class: "text-md btn btn-lg btn-danger #{@status == ProgramItem::STATUS_REJECTED ? 'text-bold' : 'text-alpha'}") %>
    </div>
  </div>
</div>

<%= render 'shared/items_list' %>
