<div class="pull-right">
  <a class="btn btn-labeled btn-primary" href="<%= export_moderator_items_path %>.xlsx">
    <span class="btn-label"><em class="icon icon-cloud-download"></em></span>
    Export Excel
  </a>
</div>
<h3>Offres</h3>
<div class="row">
  <div class="col-lg-12">
    <div class="btn-group btn-group-justified mb-xl">
      <%= link_to('En validation', moderator_items_path(status: ProgramItem::STATUS_PENDING),
                  class: "text-md btn btn-lg btn-warning #{@status == ProgramItem::STATUS_PENDING ? 'text-bold' : 'text-alpha'}") %>
      <%= link_to('Validées', moderator_items_path(status: ProgramItem::STATUS_VALIDATED),
                  class: "text-md btn btn-lg btn-success #{@status == ProgramItem::STATUS_VALIDATED ? 'text-bold' : 'text-alpha'}") %>
      <%= link_to('Rejetées', moderator_items_path(status: ProgramItem::STATUS_REJECTED),
                  class: "text-md btn btn-lg btn-danger #{@status == ProgramItem::STATUS_REJECTED ? 'text-bold' : 'text-alpha'}") %>
    </div>
  </div>
</div>

<%= render 'shared/items_list' %>
