<div class="aside-inner">
  <nav class="sidebar" data-sidebar-anyclick-close="">
    <ul class="nav">
      <li class="<%= 'active' if controller?('moderator/dashboard') %>">
        <a href="<%= url_for(controller: 'moderator/dashboard', action: 'index') %>" title="Tableau de bord">
          <em class="icon-home"></em>
          <span>Tableau de bord</span>
        </a>
      </li>
      <li class="<%= 'active' if controller?('moderator/programs', 'moderator/program_items') %>">
        <a href="<%= moderator_programs_path %>" title="Programmations">
          <em class="icon-calendar"></em>
          <span>Programmations</span>
        </a>
      </li>
      <li class="<%= 'active' if controller?('moderator/accounts') %>">
        <a href="<%= moderator_accounts_path %>" title="Gestion des comptes">
          <em class="icon-people"></em>
          <span>Gestion du compte</span>
        </a>
      </li>
    </ul>
  </nav>
</div>