<div class="aside-inner">
  <nav class="sidebar" data-sidebar-anyclick-close="">
    <ul class="nav">
      <li class="<%= 'active' if controller?('moderator/dashboard') %>">
        <a href="<%= url_for(controller: 'moderator/dashboard', action: 'index') %>" title="Tableau de bord">
          <em class="icon-home"></em>
          <div class="text-sm">Accueil</div>
        </a>
      </li>
      <li class="<%= 'active' if controller?('moderator/programs') %>">
        <a href="<%= moderator_programs_path %>" title="Programmations">
          <em class="icon-calendar"></em>
          <div class="text-sm">Programmes</div>
        </a>
      </li>
      <li class="<%= 'active' if controller?('moderator/program_items') %>">
        <a href="<%= moderator_items_path %>" title="Offres">
          <em class="icon-list"></em>
          <div class="text-sm">Offres</div>
        </a>
      </li>
      <li class="<%= 'active' if controller?('moderator/accounts') %>">
        <a href="<%= moderator_accounts_path %>" title="Gestion des comptes">
          <em class="icon-people"></em>
          <div class="text-sm">Organisateurs</div>
        </a>
      </li>
    </ul>
  </nav>
</div>