<nav role="navigation" class="navbar topnavbar">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">
      <div class="brand-logo-collapsed">
        <img src="<%= image_path('logo_apidae_mono.svg') %>" alt="logo apidae"/>
      </div>
    </a>
  </div>
  <div id="moderator_navbar" class="nav-wrapper text-md text-center">
    <p class="text-white text-std">
      Journées européennes du patrimoine - 16 & 17 Septembre <%= EDITION %><%= " - #{t('territory.' + current_moderator.member_ref)}" %><br/>
      <span class="text-sm"><%= current_moderator.email %></span>
    </p>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to '<em class="icon-logout"></em>'.html_safe, destroy_moderator_session_path, method: :delete, title: 'Déconnexion' %>
      </li>
    </ul>
  </div>
</nav>
