<div class="pull-right">
  <a href="<%= user_dashboard_path(year: 2025) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2025 %>">JEP 2025</a>
  <a href="<%= user_dashboard_path(year: 2024) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2024 %>">JEP 2024</a>
  <a href="<%= user_dashboard_path(year: 2023) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2023 %>">JEP 2023</a>
  <a href="<%= user_dashboard_path(year: 2022) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2022 %>">JEP 2022</a>
  <a href="<%= user_dashboard_path(year: 2021) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2021 %>">JEP 2021</a>
  <a href="<%= user_dashboard_path(year: 2020) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2020 %>">JEP 2020</a>
  <a href="<%= user_dashboard_path(year: 2019) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2019 %>">JEP 2019</a>
  <a href="<%= user_dashboard_path(year: 2018) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2018 %>">JEP 2018</a>
</div>
<h3>
  Bienvenue sur ApidaeJEP
</h3>
<% unless current_user.territory == ISERE %>
<div class="panel panel-info">
  <div class="panel-body">
    <p class="mb0">
      Inscrivez ici vos offres évènements organisés à l'occasion des Journées européennes du patrimoine (JEP)
      dans <%= territory_label %>
    </p>
    <div class="alert mt0 mb0">
      <h4 class="mt-sm mb bg-primary alert"><em class="icon-info pr-sm"></em>Rappel des bonnes pratiques de saisie</h4>
      <p>Afin de proposer l’information la plus lisible pour les visiteurs, nous vous demandons de veiller à respecter ces règles de saisie :</p>
      <ul class="mt">
        <li class="mt-sm">Le <strong>titre</strong> (ou <strong>nom</strong> en fonction de son intitulé en saisie) est <strong>la 1ère information visible sur votre manifestation</strong>. Il doit être suffisamment <strong>explicite</strong> pour en comprendre le contenu. Vous pouvez inclure le type de manifestation (exposition, visite guidée, concert, etc...). Seule la 1ère lettre du nom de la fiche et des noms propres doit être en majuscule.</li>
        <li class="mt-sm"><strong>Une fiche par temps fort</strong> : si les temps forts sont <strong>indépendants</strong> les uns des autres, créez autant de fiches que de temps forts
          (par ex. : vous proposez une visite guidée et un concert et ces deux animations ne sont pas liées, alors il faudra créer une fiche pour la visite guidée et une fiche pour le concert).<br/>
          Si les temps forts sont <strong>liés</strong> : créez une fiche pour tous les temps forts (par ex. : si pour accéder au concert il faut impérativement avoir suivi la visite guidée au préalable, il faudra créer une seule fiche).
        </li>
        <li class="mt-sm">Un <strong>descriptif de qualité</strong> qui donne envie aux visiteurs de venir à votre animation.</li>
        <li class="mt-sm">Les informations doivent être <strong>renseignées dans les champs correspondants</strong> : les horaires, les tarifs et
          les moyens de communication (numéros de téléphone, site web, etc.) doivent être renseignés dans les champs correspondants et ne doivent pas être repris dans les descriptifs.</li>
      </ul>
    </div>
  </div>
</div>
<% end %>
<% if current_user.territory == ISERE %>
  <p class="alert alert-info">
    <em class="icon-info pr-sm"></em>La saisie des Journées européennes du patrimoine sur la plateforme ApidaeJEP est désormais terminée.<br/>
    <br/>
    Vous pouvez cependant ajouter ou modifier des informations en vous adressant à l’office de tourisme dont vous dépendez afin que le programme en ligne soit mis à jour.
  </p>
<% end %>
<% unless current_user.territory == ISERE %>
<div class="pull-right">
  <%= link_to '<span class="btn-label"><i class="fa fa-plus"></i></span>Saisir une offre'.html_safe, new_user_program_item_path,
              class: 'btn btn-labeled btn-primary' %>
</div>
<h2 class="text-uppercase">Mes offres</h2>
<div id="user_dashboard" class="row">
  <div class="col-md-6 pr-sm">
    <div class="panel widget bg-inverse">
      <a class="row row-table" href="<%= drafts_user_program_items_path(status: ProgramItem::STATUS_DRAFT, year: @year) %>">
        <div class="col-xs-4 text-center bg-inverse-dark pv-lg">
          <em class="icon-note fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= @offers.has_key?(ProgramItem::STATUS_DRAFT) ? @offers[ProgramItem::STATUS_DRAFT].count : 0 %></div>
          <div class="text-uppercase">brouillons</div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6 pl-sm">
    <div class="panel widget bg-warning">
      <a class="row row-table" href="<%= pending_user_program_items_path(status: ProgramItem::STATUS_PENDING, year: @year) %>">
        <div class="col-xs-4 text-center bg-warning-dark pv-lg">
          <em class="icon-hourglass fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= @offers.has_key?(ProgramItem::STATUS_PENDING) ? @offers[ProgramItem::STATUS_PENDING].count : 0 %></div>
          <div class="text-uppercase">en validation</div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6 pr-sm">
    <div class="panel widget bg-success">
      <a class="row row-table" href="<%= validated_user_program_items_path(status: ProgramItem::STATUS_VALIDATED, year: @year) %>">
        <div class="col-xs-4 text-center bg-success-dark pv-lg">
          <em class="icon-like fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= @offers.has_key?(ProgramItem::STATUS_VALIDATED) ? @offers[ProgramItem::STATUS_VALIDATED].count : 0 %></div>
          <div class="text-uppercase">validées</div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6 pl-sm">
    <div class="panel widget bg-danger">
      <a class="row row-table" href="<%= rejected_user_program_items_path(status: ProgramItem::STATUS_REJECTED, year: @year) %>">
        <div class="col-xs-4 text-center bg-danger-dark pv-lg">
          <em class="icon-dislike fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= @offers.has_key?(ProgramItem::STATUS_REJECTED) ? @offers[ProgramItem::STATUS_REJECTED].count : 0 %></div>
          <div class="text-uppercase">rejetées</div>
        </div>
      </a>
    </div>
  </div>
</div>
<% end %>