<h3>Bienvenue sur ApidaeJEP</h3>
<div class="panel panel-info">
  <div class="panel-body">
    <p class="mb0">
      Inscrivez ici vos offres évènements organisés à l'occasion des Journées Européennes du Patrimoine (JEP)
      dans le territoire de la Métropole de Lyon ou dans le département de l'Isère.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3 pr-sm">
    <div class="panel widget bg-inverse">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-inverse-dark pv-lg">
          <em class="icon-note fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= @offers.has_key?(ProgramItem::STATUS_DRAFT) ? @offers[ProgramItem::STATUS_DRAFT].count : 0 %></div>
          <div class="text-uppercase">brouillons</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 ph-sm">
    <div class="panel widget bg-warning">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-warning-dark pv-lg">
          <em class="icon-hourglass fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= @offers.has_key?(ProgramItem::STATUS_PENDING) ? @offers[ProgramItem::STATUS_PENDING].count : 0 %></div>
          <div class="text-uppercase">en validation</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 ph-sm">
    <div class="panel widget bg-success">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-success-dark pv-lg">
          <em class="icon-like fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= @offers.has_key?(ProgramItem::STATUS_VALIDATED) ? @offers[ProgramItem::STATUS_VALIDATED].count : 0 %></div>
          <div class="text-uppercase">validées</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 pl-sm">
    <div class="panel widget bg-danger">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-danger-dark pv-lg">
          <em class="icon-dislike fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= @offers.has_key?(ProgramItem::STATUS_REJECTED) ? @offers[ProgramItem::STATUS_REJECTED].count : 0 %></div>
          <div class="text-uppercase">rejetées</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pv">
  <div class="panel panel-primary mb-sm">
    <div class="panel-heading">
      <div class="pull-right">
        <%= link_to '<i class="fa fa-plus pr-sm"></i>Démarrer une programmation'.html_safe,
                    new_user_program_path, class: 'text-white' %>
      </div>
      <h4 class="text-uppercase m0">Mes programmations</h4>
    </div>
  </div>

  <% unless @programs.any? %>
      <p class="mt-lg">Aucune programmation saisie pour le moment.</p>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
  <% if @programs.any? %>
      <% @programs.each_with_index do |prog, i| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <%= link_to '<i class="fa fa-edit pr-sm"></i>Modifier'.html_safe, edit_user_program_path(prog) %>
            <%= link_to '<i class="fa fa-plus pr-sm"></i>Ajouter une offre'.html_safe,
                        new_user_program_program_item_path(prog),  class: 'ml-lg' %>
          </div>
          <h4 class="m0"><%= prog.label(i + 1) %></h4>
        </div>
        <div class="panel-body">
          <table class="table">
            <tbody>
            <% prog.program_items.each do |item| %>
              <tr>
                <td class="wd-xxs">
                  <i class="fa fa-2x <%= item_icon(item) %>"></i>
                </td>
                <td class="vam">
                  <%= item.title %><span class="label label-<%= t "program_item.color.#{item.status}" %> ml-sm"><%= t "program_item.status.#{item.status}" %></span>
                  <div class="pull-right">
                    <%= link_to '<em class="fa icon-note"></em/>'.html_safe,
                                url_for(controller: 'user/program_items', action: ((item.pending? || item.draft?) ? :edit : :new), program_id: prog.id, id: item.id),
                                class: 'btn btn-outline btn-sm btn-primary ml-lg' %>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>