<div class="pull-right">
  <%= link_to '<span class="btn-label"><i class="fa fa-plus"></i></span>Nouvelle programmation'.html_safe,
              user_programs_path, method: :post, class: 'btn btn-info btn-labeled' %>
</div>
<h3>Tableau de bord</h3>
<div class="row">
  <div class="col-md-3 pr-sm">
    <div class="panel widget bg-inverse">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-inverse-dark pv-lg">
          <em class="icon-note fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold">2</div>
          <div class="text-uppercase">brouillons</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 ph-sm">
    <div class="panel widget bg-warning">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-warning-dark pv-lg">
          <em class="icon-hourglass fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold">3</div>
          <div class="text-uppercase">en validation</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 ph-sm">
    <div class="panel widget bg-success">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-success-dark pv-lg">
          <em class="icon-like fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold">2</div>
          <div class="text-uppercase">validées</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 pl-sm">
    <div class="panel widget bg-danger">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-danger-dark pv-lg">
          <em class="icon-dislike fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold">1</div>
          <div class="text-uppercase">rejetée</div>
        </div>
      </div>
    </div>
  </div>


  <h3 class="ph pt-xl">Mes programmations</h3>

  <div class="col-xs-12">
  <% if @programs.any? %>
    <div id="accordion" role="tablist" class="panel-group">
      <% @programs.each_with_index do |prog, i| %>
      <div class="panel panel-primary">
        <div id="<%= "heading_#{i}" %>" role="tab" class="panel-heading">
          <a data-toggle="collapse" data-parent="#accordion" href="#<%= "collapse_#{i}" %>" class="text-white center-block">
            <%= "Programmation #{i + 1}#{(' - ' + prog.title) unless prog.title.blank?}" %>
            <!--<div class="pull-right">-->
              <!--<span class="label label-inverse">1 brouillon</span>-->
              <!--<span class="label label-warning">1 en cours</span>-->
              <!--<span class="label label-success">2 validées</span>-->
              <!--<span class="label label-danger">1 rejetée</span>-->
            <!--</div>-->
          </a>
        </div>
        <div id="<%= "collapse_#{i}" %>" role="tabpanel" class="panel-collapse collapse <%= 'in' if i == 0 %>">
          <div class="panel-body">
            <table class="table">
              <tbody>
              <% prog.program_items.each_with_index do |item, j| %>
                <tr>
                  <td>
                    <strong><%= "Offre #{j + 1}" %></strong>
                  </td>
                  <td>
                    <%= item.title %>
                    <div class="pull-right"><span class="label label-<%= t "program_item.color.#{item.status}" %>"><%= t "program_item.status.#{item.status}" %></span></div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="panel-footer text-center">
            <%= link_to 'Voir les détails', edit_user_program_path(prog), class: 'btn btn-default' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% else %>
  <p>
    Aucune programmation saisie pour le moment.<br/>
    <br/>
    <%= link_to '<span class="btn-label"><i class="fa fa-plus"></i></span>Créer une programmation'.html_safe,
                user_programs_path, method: :post, class: 'btn btn-info btn-labeled' %>
  </p>
  <% end %>
  </div>
</div>