<div class="pull-right">
  <%= link_to '<span class="btn-label"><i class="fa fa-plus"></i></span>Nouvelle programmation'.html_safe,
              new_user_program_path, class: 'btn btn-info btn-labeled' %>
</div>
<h3>Tableau de bord</h3>
<div class="row">
  <div class="col-md-3 pr-sm">
    <div class="panel widget bg-inverse">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-inverse-dark pv-lg">
          <em class="icon-note fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= ProgramItem.draft.count %></div>
          <div class="text-uppercase">brouillons</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 ph-sm">
    <div class="panel widget bg-warning">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-warning-dark pv-lg">
          <em class="icon-hourglass fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= ProgramItem.pending.count %></div>
          <div class="text-uppercase">en validation</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 ph-sm">
    <div class="panel widget bg-success">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-success-dark pv-lg">
          <em class="icon-like fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= ProgramItem.validated.count %></div>
          <div class="text-uppercase">validées</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 pl-sm">
    <div class="panel widget bg-danger">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-danger-dark pv-lg">
          <em class="icon-dislike fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= ProgramItem.rejected.count %></div>
          <div class="text-uppercase">rejetée</div>
        </div>
      </div>
    </div>
  </div>


  <h3 class="ph pt-xl">Mes programmations</h3>

  <div class="col-xs-12">
  <% if @programs.any? %>
      <% @programs.each_with_index do |prog, i| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
            <%= prog.label(i + 1) %>
            <div class="pull-right">
              <%= link_to 'Voir les détails', edit_user_program_path(prog), class: 'btn btn-labeled btn-default ml' %>
            </div>
        </div>
        <div class="panel-body">
          <table class="table">
            <tbody>
            <% prog.program_items.each do |item| %>
              <tr>
                <td class="wd-xxs">
                  <i class="fa fa-2x <%= item_icon(item) %>"></i>
                </td>
                <td class="vam">
                  <%= item.title %>
                  <div class="pull-right">
                    <span class="label label-<%= t "program_item.color.#{item.status}" %>"><%= t "program_item.status.#{item.status}" %></span>
                    <%= link_to '<em class="fa icon-note"></em/>'.html_safe, edit_user_program_program_item_path(prog.id, item),
                                class: 'btn btn-outline btn-sm btn-primary ml-lg' %>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% end %>
    </div>
  <% else %>
  <p>
    Aucune programmation saisie pour le moment.<br/>
    <br/>
    <%= link_to '<span class="btn-label"><i class="fa fa-plus"></i></span>Créer une programmation'.html_safe,
                user_programs_path, method: :post, class: 'btn btn-info btn-labeled' %>
  </p>
  <% end %>
  </div>
</div>