<div class="pull-right">
  <a href="<%= user_program_items_path(status: @status, year: 2024) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2024 %>">JEP 2024</a>
  <a href="<%= user_program_items_path(status: @status, year: 2023) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2023 %>">JEP 2023</a>
  <a href="<%= user_program_items_path(status: @status, year: 2022) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2022 %>">JEP 2022</a>
  <a href="<%= user_program_items_path(status: @status, year: 2021) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2021 %>">JEP 2021</a>
  <a href="<%= user_program_items_path(status: @status, year: 2020) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2020 %>">JEP 2020</a>
  <a href="<%= user_program_items_path(status: @status, year: 2019) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2019 %>">JEP 2019</a>
  <a href="<%= user_program_items_path(status: @status, year: 2018) %>" class="btn btn-info btn-oval mr <%= 'btn-outline' unless @year == 2018 %>">JEP 2018</a>
  <%= link_to '<span class="btn-label"><i class="fa fa-plus"></i></span>Saisir une offre'.html_safe, new_user_program_item_path,
              class: 'btn btn-labeled btn-primary' %>
</div>
<h3>
  ApidaeJEP - Mes offres
  <% if @status %>
  &nbsp;<span class="label text-normal label-<%= item_color(@status) %>"><%= t "program_item.statuses.#{@status}" %></span>
  <% end %>
</h3>

<div id="program_items" class="row">
  <% @items.each_with_index do |item, i| %>
    <%= render 'shared/forms/program_item', item_controller: 'user/program_items', item: item, i: i %>
  <% end %>
  <% if @items.count == 0 %>
  <p class="text-center">Aucune offre pour le moment.</p>
  <% end %>
</div>