<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <div>
      <em class="icon-arrow-left-circle pr-sm text-primary"></em><%= link_to 'Retour', root_url %>
    </div>
    <div id="grandlyon" class="panel panel-primary mt-lg">
      <div class="panel-heading text-center text-uppercase">Les Journées Européennes du Patrimoine de la Métropole de Lyon</div>
      <div class="panel panel-body mb0">
        <div class="text-center">
          <a class="btn btn-xl btn-outline btn-primary" href="http://www.grandlyon.com" target="_blank">www.grandlyon.com</a>
        </div>
        <div class="row text-center">
          <div class="col-sm-6">
            <img src="<%= image_path('logo-grand-lyon.png') %>" alt="logo grand lyon" class="img-responsive p-lg"/>
          </div>
          <div class="col-sm-6">
            <img src="<%= image_path('logo-ot-lyon.png') %>" alt="logo tourisme congres lyon" class="img-responsive p-lg"/>
          </div>
        </div>
        <p class="text-left">
          Pour la 36e édition des Journées européennes du patrimoine (JEP), initiées par le Ministère de la Culture et
          de la Communication, <a href="http://www.grandlyon.com" target="_blank">la Métropole de Lyon</a> vous propose
          de saisir vos événements <%= EDITION %> sur ce nouvel outil dédié, ApidaeJEP.<br/>
          Les informations saisies serviront à éditer le programme de la Métropole de Lyon et à alimenter les sites
          internet JEP Grand Lyon (<a href="https://jep.grandlyon.com/" target="_blank">jep.grandlyon.com</a> et
          <a href="http://www.grandlyon.com/jep" target="_blank">www.grandlyon.com/jep</a>) et Lyon Tourisme & Congrès
          (<a href="http://www.lyon-france.com" target="_blank">www.lyon-france.com</a> et
          <a href="http://www.monweekendalyon.com" target="_blank">www.monweekendalyon.com</a>).
        </p>
      </div>
    </div>
    <div id="isere" class="panel panel-primary mt-xl">
      <div class="panel-heading text-center text-uppercase">Les Journées européennes du patrimoine du Département de l'Isère</div>
      <div class="panel panel-body mb0">
        <div class="text-center">
          <a class="btn btn-xl btn-outline btn-primary" href="https://www.isere.fr" target="_blank">www.isere.fr</a>
        </div>
        <div class="row text-center">
          <div class="col-sm-4">
            <img src="<%= image_path('logo-isere-dept.png') %>" alt="logo departement isere" class="img-responsive p-lg"/>
          </div>
          <div class="col-sm-4 ph-xl">
            <img src="<%= image_path('logo-isere-culture.png') %>" alt="logo isere culture" class="img-responsive p-lg ph-xl"/>
          </div>
          <div class="col-sm-4">
            <img src="<%= image_path('logo-isere-tourisme.png') %>" alt="logo isere tourisme" class="img-responsive p-lg"/>
          </div>
        </div>
        <p class="text-left">
          Les informations que vous saisirez sur ApidaeJEP serviront à alimenter la brochure des Journées européennes
          du patrimoine éditée et diffusée par le Département de l’Isère en partenariat avec le Dauphiné Libéré.<br/>
          Elles alimenteront également la base de données d’informations touristiques régionales Apidae et le site
          internet <a href="https://journeesdupatrimoine.isere.fr" target="_blank">journeesdupatrimoine.isere.fr</a>.
        </p>
      </div>
    </div>
    <div id="saumur" class="panel panel-primary mt-xl">
      <div class="panel-heading text-center text-uppercase">Les Journées Européennes du Patrimoine de la ville de Saumur
        et de la Communauté d'agglomération Saumur Val de Loire</div>
      <div class="panel panel-body mb0">
        <div class="text-center">
          <a class="btn btn-xl btn-outline btn-primary" href="https://www.ot-saumur.fr/" target="_blank">www.ot-saumur.fr/</a>
        </div>
        <div class="text-center">
          <img src="<%= image_path('logo-saumur.png') %>" alt="logo saumur" class="p-lg wd-xl"/>
        </div>
        <p class="text-left">
          Les informations déjà transmises au Service Ville d’art et d’histoire de Saumur serviront à alimenter les
          supports de diffusion du programme des JEP de la ville de Saumur, de la Communauté d'agglomération Saumur
          Val de Loire et le site web de l’Office de tourisme Saumur Val de Loire.
        </p>
      </div>
    </div>
    <div id="apidae" class="panel panel-primary mt-xl">
      <div class="panel-heading text-center text-uppercase">Le Réseau Apidae (ex-Sitra)</div>
      <div class="panel panel-body mb0">
        <div class="text-center">
          <a class="btn btn-xl btn-outline btn-primary" href="http://www.apidae-tourisme.com" target="_blank">www.apidae-tourisme.com</a>
        </div>
        <div class="row text-center">
          <div class="col-sm-4 col-sm-offset-4">
            <img src="<%= image_path('logo_apidae.svg') %>" alt="logo reseau apidae" class="img-responsive p-lg"/>
          </div>
        </div>
        <p class="text-left">
          Apidae, c'est un réseau d’acteurs du tourisme, de la culture et des loisirs qui ont mutualisé une plateforme
          pour saisir et diffuser de l’information sur plus de 1 300 sites web, journaux, brochures et autres projets numériques.<br/>
          <br/>
          Pour en savoir plus, RDV dans votre Office de Tourisme ou sur <a href="http://www.apidae-tourisme.com" target="_blank">www.apidae-tourisme.com</a>.
        </p>
      </div>
    </div>
    <div class="mt-lg">
      <em class="icon-arrow-left-circle pr-sm text-primary"></em><%= link_to 'Retour', root_url %>
    </div>
  </div>
</div>
