<h3>ApidaeJEP - Toutes les utilisateurs</h3>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-info">
      <div class="table-responsive panel-body">
        <table id="accounts" class="table table-striped table-bordered table-hover">
          <thead class="bg-gray-darker">
          <tr>
            <th>Nom</th>
            <th>Structure</th>
            <th>Commune</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Dernière connexion</th>
            <th class="wd-xs"></th>
          </tr>
          </thead>
          <tbody>
          <% if @accounts.any? %>
              <% @accounts.each do |account| %>
                  <tr>
                    <td><%= account.full_name %></td>
                    <td><%= account.legal_entity_id ? account.legal_entity.name : 'Aucune' %></td>
                    <td><%= account.legal_entity.town.label %></td>
                    <td><%= account.email %></td>
                    <td><%= account.telephone %></td>
                    <td><%= l(account.last_sign_in_at, format: :withtime) %></td>
                    <td class="text-center">
                      <%= link_to '<i class="icon-note text-md"></i>'.html_safe, edit_moderator_account_path(account) %>
                    </td>
                  </tr>
              <% end %>
          <% else %>
              <tr>
                <td colspan="5" class="text-center">
                  Aucun compte pour le moment.
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% content_for :body_area do %>
    <script>
        initDataTable('#accounts');
    </script>
<% end %>