<div class="pull-right">
  <a href="<%= moderator_dashboard_path(year: 2024) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2024 %>">JEP 2024</a>
  <a href="<%= moderator_dashboard_path(year: 2023) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2023 %>">JEP 2023</a>
  <a href="<%= moderator_dashboard_path(year: 2022) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2022 %>">JEP 2022</a>
  <a href="<%= moderator_dashboard_path(year: 2021) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2021 %>">JEP 2021</a>
  <a href="<%= moderator_dashboard_path(year: 2020) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2020 %>">JEP 2020</a>
  <a href="<%= moderator_dashboard_path(year: 2019) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2019 %>">JEP 2019</a>
  <a href="<%= moderator_dashboard_path(year: 2018) %>" class="btn btn-info btn-oval <%= 'btn-outline' unless @year == 2018 %>">JEP 2018</a>
</div>
<h3>
  ApidaeJEP - Administration
</h3>
<div class="row">
  <div class="col-md-4 pr-sm">
    <div class="panel widget bg-warning">
      <a class="row row-table text-white" href="<%= moderator_program_items_path(status: ProgramItem::STATUS_PENDING, year: @year) %>">
        <div class="col-xs-4 text-center bg-warning-dark pv-lg">
          <em class="icon-hourglass fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= ProgramItem.in_status(current_moderator.member_ref, @year, ProgramItem::STATUS_PENDING).count %></div>
          <div class="text-uppercase">en validation</div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4 ph-sm">
    <div class="panel widget bg-success">
      <a class="row row-table text-white" href="<%= moderator_program_items_path(status: ProgramItem::STATUS_VALIDATED, year: @year) %>">
        <div class="col-xs-4 text-center bg-success-dark pv-lg">
          <em class="icon-like fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= ProgramItem.in_status(current_moderator.member_ref, @year, ProgramItem::STATUS_VALIDATED).count %></div>
          <div class="text-uppercase">validées</div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4 pl-sm">
    <div class="panel widget bg-danger">
      <a class="row row-table text-white" href="<%= moderator_program_items_path(status: ProgramItem::STATUS_REJECTED, year: @year) %>">
        <div class="col-xs-4 text-center bg-danger-dark pv-lg">
          <em class="icon-dislike fa-2x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h1 m0 text-bold"><%= ProgramItem.in_status(current_moderator.member_ref, @year, ProgramItem::STATUS_REJECTED).count %></div>
          <div class="text-uppercase">rejetées</div>
        </div>
      </a>
    </div>
  </div>
</div>
<h4>Offres en attente de validation</h4>
<%= render 'shared/items_list' %>