<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="ApidaeJEP">
  <title>ApidaeJEP</title>
  <%= stylesheet_link_tag 'base' %>
  <%= stylesheet_link_tag 'application', media: 'all', id: 'maincss' %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="wrapper">
  <div class="content-wrapper">
    <%= yield %>
  </div>
</div>
<%= javascript_include_tag 'base' %>
<%= javascript_include_tag 'application' %>

<%= yield :body_area %>

<% if alert %>
    <script>
        $.notify("<%= alert %>", "danger");
    </script>
<% end %>

<% if notice %>
    <script>
        $.notify("<%= notice %>", "success");
    </script>
<% end %>

</body>

</html>