<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="ApidaeJEP - Administration">
  <title>ApidaeJEP - Administration</title>
  <%= stylesheet_link_tag 'base' %>
  <%= stylesheet_link_tag 'application', media: 'all', id: 'maincss' %>
  <%= csrf_meta_tags %>
</head>

<body class="aside-collapsed">
<div class="wrapper">
  <header class="topnavbar-wrapper">
    <%= render partial: 'layouts/partials/moderator/topnavbar' %>
  </header>
  <aside class="aside">
    <%= render partial: 'layouts/partials/moderator/sidebar' %>
  </aside>
  <aside class="offsidebar hide">
    <%= render partial: 'layouts/partials/moderator/offsidebar' %>
  </aside>
  <section>
    <div class="content-wrapper">
      <%= yield %>
    </div>
  </section>
  <footer>
    <%= render partial: 'layouts/partials/moderator/footer' %>
  </footer>
</div>
<div id="modal_window" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-gray-dark">
        <button type="button" data-dismiss="modal" aria-label="Fermer" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 id="modal_title" class="modal-title"></h4>
      </div>
      <div id="modal_body" class="modal-body"></div>
    </div>
  </div>
</div>
<div id="lg_modal" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-gray-dark">
        <button type="button" data-dismiss="modal" aria-label="Fermer" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 id="lg_modal_title" class="modal-title"></h4>
      </div>
      <div id="lg_modal_body"></div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'base' %>
<%= javascript_include_tag 'application' %>
<script>
    moment.locale('fr');
    $(".help_button").click(function() {
        var modalWindow = $("#modal_window");
        var helpText = $(this).parents(".form-group").find(".help-block").text();
        var fieldLabel = $(this).parents("label").text();
        if(helpText.length > 0) {
            modalWindow.find("#modal_title").append(fieldLabel);
            modalWindow.find("#modal_body").append('<p class="pre">' + helpText + '</p>');
            modalWindow.modal();
        }
    });
</script>

<%= yield :body_area %>

<% if notice %>
    <script>
        $.notify("<%= notice %>", "success");
    </script>
<% end %>

</body>

</html>