<div class="block-center mt-xl wd-xxl">
  <div class="panel panel-dark panel-flat">
    <div class="panel-heading text-center">
      <h4>Créer un compte ApidaeJEP</h4>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'mb-lg'}) do |f| %>
          <% unless resource.errors.blank? %>
          <div class="alert alert-danger">
            <%= resource.errors.messages.values.join('<br/>').html_safe %>
          </div>
          <% end %>
          <div class="form-group has-feedback">
            <%= f.label :email, 'Adresse email', class: 'text-muted' %>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Adresse email' %>
            <span class="fa fa-envelope form-control-feedback text-muted"></span>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :password, 'Mot de passe', class: 'text-muted' %>
            <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: 'Mot de passe' %>
            <span class="fa fa-lock form-control-feedback text-muted"></span>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :password_confirmation, 'Confirmation du mot de passe', class: 'text-muted' %>
            <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: 'Mot de passe' %>
            <span class="fa fa-lock form-control-feedback text-muted"></span>
          </div>
          <%= f.submit 'Créer mon compte', class: 'btn btn-block btn-primary mt-lg text-uppercase' %>

          <p class="pt-lg text-center">Vous avez déjà un compte ?</p>
          <%= link_to 'Connexion', root_path, class: 'btn btn-block btn-info text-uppercase' %>
      <% end %>
    </div>
  </div>
</div>